.fit-image {
    max-height: 100%;
    max-width: 100%;
}

.make-logo-black {
    filter: contrast(0%);
    transition: all .5s ease;
}

.make-logo-black:hover {
    filter: contrast(100%);
    transition: all .5s ease;
}

