#pre-loader{
align-items: center;
  background: #FFF;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.2s linear;
  width: 100%;
  z-index: 9999;
  opacity: 1;
  transform: opacity 1s linear;
}

#pre-loader img{
    animation-duration: 2s;
    animation-name: rotate;
    animation-iteration-count: infinite;
}